*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  background: #080808;
  color: #fff;
}
/*---------Header---------*/
#Header{
  width: 100%;
  height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/5651989.jpg);
  background-size: cover;
  background-position: center;
}

.container{
  padding: 10px 10%;
}

.logo{
  width: 220px;
  height: 50px;
  color:#fff;
  text-decoration: none;
  font-size: 30px;
  position: relative;
}
.logo span{
  color: red;
}

.logo::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.logo:hover::after{
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color:#fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}

.Header-text{
  margin-top: 20%;
  font-size: 30px;
}

.Header-text h1{
  font-size: 60px;
  margin-top: 20px;
}

.Header-text span{
  color: red;
}


/*---------About------------*/
#about{
  padding: 80px 0;
  color: #ababab;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}

.about-col-2{
  flex-basis: 60%;
}

.Sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}


.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;
}

td {
  padding: 0 15px;
}

.GeneratedTable{
  font-size: 18px;
  margin: 10px 0;;
}

.tab-contents ul li{
  list-style: circle;
  font-size: 14px;
  margin: 10px 0;
}

.tab-contents ul li span{
  color: #b54769;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}
.online-judge ul{
  list-style: none;
  font-size: 14px;
  margin: 10px 0;
}

.online-judge ul{
  justify-content : center;
  text-decoration: none;
}

/*---------Projects-----------*/
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  display: block;
  transition: 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20 px;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
}


/* ----------Contact-------------- */

.social{
  margin-top: 30px;
}

.social a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  color: #ababab;
}



@media only screen and (max-width: 600px){
  #Header{
    background-image: none;
  }
  .Header-text{
    margin-top: 100%;
    font-size: 16px;
  }
  .Header-text h1{
    font-size: 30px;
  }
  .Sub-title{
    font-size: 40px;
  }
  .about-col-1, .about-col-2{
    flex-basis: 100%;
  }
  .about-col-1{
    margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 14px;
  }
  .tab-links{
    font-size: 16px;
    margin-right: 20px;
  }
}
